SAPAutenticacion/src/main/resources/co/edu/javeriana/modval/xsd/Autenticacion.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:pay="http://www.sap.com/schemas" elementFormDefault="qualified"
	attributeFormDefault="qualified" targetNamespace="http://www.sap.com/schemas">

	<xsd:element name="Cliente" type="pay:Cliente" />
	<xsd:element name="ResultadoValidacion" type="pay:ResultadoValidacion" />

	<xsd:complexType name="Cliente">
		<xsd:sequence>
			<xsd:element name="numeroDocumento" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ResultadoValidacion">
		<xsd:sequence>
			<xsd:element name="autorizado" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>